<section class="carroussel mt-5 mb-5">
    <ul class="carroussel-items">
        <li class="carroussel-images">
            <img class="carroussel-img" src="{{ asset('build/images/carrou1.jpg') }}" alt="" loading="lazy">
        </li>
        <li class="carroussel-images">
            <img class="carroussel-img" src="{{ asset('build/images/carrou2.jpg') }}" alt="" loading="lazy">
        </li>
        <li class="carroussel-images">

            <img class="carroussel-img" src="{{ asset('build/images/carrou3.jpg') }}" alt="" loading="lazy">
        </li>
        <li class="carroussel-images">
            <img class="carroussel-img" src="{{ asset('build/images/carrou4.jpg') }}" alt="" loading="lazy">
        </li>
        <li class="carroussel-images">
            <img class="carroussel-img" src="{{ asset('build/images/carrou5.jpg') }}" alt="" loading="lazy">
        </li>
    </ul>
</section>